@import 'variables';

html, body {
  height: 100%;
}

.cell {
  font-family: $mono-font;
}

.boss-floor {
  background-color: $background-boss;
  color: $color-boss;
}

.floor {
  background-color: $background;
  color: $color;
}

div {
  height: 100%;
}

.container {
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:focus {
  outline: none;
  opacity: 1;
  height: 100%;
}

body {
  margin: 0;
}
