@import 'variables';

html, body {
  height: 100%;
}

.cell {
  font-family: $mono-font;
}

.boss-floor {
  background-color: $background-boss;
  color: $color-boss;

  a {
    color: $color-boss;
  }
}

.floor {
  background-color: $background;
  color: $color;

  a {
    color: $color;
  }
}

div {
  height: 100%;
}

.container {
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;

  // .boss-floor  {
  //   background-color: lightGray;
  // }
}

.container:focus {
  outline: none;
  opacity: 1;
  height: 100%;
}

.container.boss-floor  {
  background-color: desaturate(beige, 40%);
  color: darken(beige, 70%);
}

.container.boss-floor:focus  {
  background-color: beige;
  color: darken(beige, 95%);
}

body {
  margin: 0;
}
